
@use '../global.sass'

.mappage 
    height: 100vh
    width: 100%
    display: flex
    flex-flow: row wrap

    .info 
        width: 30%  
        height: 100%
        background: linear-gradient(166.7deg, #89CC66 43.23%, #ABE48F 90.1%)

        .cep
            margin: 100px 60px

            font-family: 'Roboto Mono'
            color: #F2F2F2
            font-size: 24px
        
        .content 
            margin-left: 40px
            margin-right: 40px 
            margin-bottom: 35px

            font-family: 'Roboto Mono'
            font-size: 18px
            color: #333333

            .item-content 
                margin-bottom: 10px

        .voltar-btn 
            border: none

            background-color: #E55639
            padding: 12px 22px
            margin-left: 40px

            border-radius: 10px

            font-family: 'Roboto Mono'
            color: #F2F2F2
            font-size: 18px

            cursor: pointer
        
        .voltar-btn:hover
            transition: 0.1s ease-in
            background-color: #CB381A
            
    
    .map 
        width: 70%  
        height: 100%
    
    