
@use '../global.sass';

.homepage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 365px;

    img:nth-of-type(1) {
        position: absolute;    
        left: -254px;
        top: 30px;
        transform: rotateZ(-80.5deg);
        z-index: 0;
        @media (max-width: 600px) {
            width: 0px;
        }
    }
    img:nth-of-type(2) {
        position: absolute;
        right: 0px;
        top: 120px;
        z-index: 0;
        @media (max-width: 600px) {
            width: 0px;
        }
    }

    div {
        z-index: 99;
        div:nth-of-type(1) {
            input {
                background-color: global.$background-color;
                border: none;
                font-family: 'Roboto Mono';
                max-width: 295px;
                padding-left: 15px;
                padding-bottom: 8px;
                color: global.$black;
                opacity: 1;
                font-size: 18px;
                &:focus {
                    outline: none;
                }
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: global.$black;
                    opacity: 0.5;
                    font-size: 18px;
                }
                
                &::-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: global.$black;
                    font-size: 18px;
                }
                
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: global.$black;
                    font-size: 18px;
                }
            }
            button {
                background-color: global.$green;
                border: none;
                height: 30px;
                width: 100px;
                color: global.$background-color;
                box-shadow: global.$shadow;
                border-radius: 5px;
                font-family: 'Roboto Mono';
                font-size: 18px;
                &:hover {
                    background-color: global.$green-focus;
                    cursor: pointer;
                }
                @media (max-width: 350px) {
                    margin-left: 20px;
                }
            }
            .loading {
                opacity: 0.2;
            }
        }
        div:nth-of-type(2) {
            max-width: 100%;
            height: 5px;
            background-color: global.$green;
            box-shadow: global.$shadow;

            @media (max-width: 600px) {
                width: 0px;
            }
        }
        #error-message {
            color: global.$danger;
        }
    }

    .author {
        position: absolute;
        left: 20px;
        bottom: 20px;

        font-family: 'Roboto Mono';
        font-size: 14px;
        color: red
    }

    .down {
        position: absolute;
        margin: auto;
        bottom: 20px;

        font-family: 'Roboto Mono';
        font-size: 14px;
        color: green;

        @media (max-width: 600px) {
            bottom: 50px;
        }
    }
}

article {
    margin-top: 500px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 5%);

    p {
        max-width: 800px;
        margin: 40px auto;
        text-align: justify;
        color: hsl(0, 0%, 10%);
    }

    .img > p {
        margin: 1px auto;
        font-size: 12px;
    }

    .img > img {
        max-width: 70%;
    }

    a {
        word-break: break-all;
    }
}