@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
html, body {
  background-color: #F2F2F2;
  padding: 0px;
  margin: 0px;
}

.homepage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 365px;
}
.homepage img:nth-of-type(1) {
  position: absolute;
  left: -254px;
  top: 30px;
  transform: rotateZ(-80.5deg);
  z-index: 0;
}
.homepage img:nth-of-type(2) {
  position: absolute;
  right: 0px;
  top: 120px;
  z-index: 0;
}
.homepage div {
  z-index: 99;
}
.homepage div div:nth-of-type(1) input {
  background-color: #F2F2F2;
  border: none;
  font-family: "Roboto Mono";
  width: 295px;
  padding-left: 15px;
  padding-bottom: 8px;
  color: #1A1A1A;
  opacity: 1;
  font-size: 18px;
}
.homepage div div:nth-of-type(1) input:focus {
  outline: none;
}
.homepage div div:nth-of-type(1) input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1A1A1A;
  opacity: 0.5;
  font-size: 18px;
}
.homepage div div:nth-of-type(1) input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #1A1A1A;
  font-size: 18px;
}
.homepage div div:nth-of-type(1) input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #1A1A1A;
  font-size: 18px;
}
.homepage div div:nth-of-type(1) button {
  background-color: #4CE500;
  border: none;
  height: 30px;
  width: 100px;
  color: #F2F2F2;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Roboto Mono";
  font-size: 18px;
}
.homepage div div:nth-of-type(1) button:hover {
  background-color: #339900;
  cursor: pointer;
}
.homepage div div:nth-of-type(1) .loading {
  opacity: 0.2;
}
.homepage div div:nth-of-type(2) {
  width: 100%;
  height: 5px;
  background-color: #4CE500;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.homepage div #error-message {
  color: #D92626;
}
.homepage .author {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-family: "Roboto Mono";
  font-size: 14px;
  color: red;
}
.homepage .down {
  position: absolute;
  margin: auto;
  bottom: 20px;
  font-family: "Roboto Mono";
  font-size: 14px;
  color: green;
}

article {
  margin-top: 500px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #0d0d0d;
}
article p {
  width: 800px;
  margin: 40px auto;
  text-align: justify;
  color: #1a1a1a;
}
article .img > p {
  margin: 1px auto;
  font-size: 12px;
}

.mappage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.mappage .info {
  width: 30%;
  height: 100%;
  background: linear-gradient(166.7deg, #89CC66 43.23%, #ABE48F 90.1%);
}
.mappage .info .cep {
  margin: 100px 60px;
  font-family: "Roboto Mono";
  color: #F2F2F2;
  font-size: 24px;
}
.mappage .info .content {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 35px;
  font-family: "Roboto Mono";
  font-size: 18px;
  color: #333333;
}
.mappage .info .content .item-content {
  margin-bottom: 10px;
}
.mappage .info .voltar-btn {
  border: none;
  background-color: #E55639;
  padding: 12px 22px;
  margin-left: 40px;
  border-radius: 10px;
  font-family: "Roboto Mono";
  color: #F2F2F2;
  font-size: 18px;
  cursor: pointer;
}
.mappage .info .voltar-btn:hover {
  transition: 0.1s ease-in;
  background-color: #CB381A;
}
.mappage .map {
  width: 70%;
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
